<div class="panel panel-primary top-post">
  <div class="panel-heading">
    <h3 class="panel-title">All Groups</h3>
  </div>
  <div class="panel-body panel-top-posts">
    <div id="myCarousel" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          No Groups Yet
        </div>
      </div>
    </div>
  </div>
</div>
