<div class="panel panel-primary">
  <div class="panel-heading">
    <%= image_tag(image_url("/logo1.jpg"), class: "img-thumbnail") %>
  </div>
  <div class="panel-body">
    <div id="myCarousel" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          Aldrin S. Gravides
        </div>
      </div>
    </div>
  </div>
</div>
