<nav class="navbar navbar-custom <%= "navbar-fixed-top" if current_page? root_path %> ">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Social" , "#intro" , class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse navbar-main-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="active">
          <a href="#page-top"></a>
        </li>
        <li class = "page-scroll"><a href="#posts">Posts</a></li>
        <li class = "page-scroll"><a href="#images">Images</a></li>
        <li class = "page-scroll"><a href="#blogs">Blogs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, method: "delete" do %>
              Log Out
            <% end %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
