<section id="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= render "intro2" %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="posts">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Posts</h1>
          <p class="intro-text">
            <%= link_to "Sign Up", new_user_registration_path,
              class: "btn btn-primary btn-lg" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="images">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Images</h1>
          <p class="intro-text">
            <%= link_to "Sign Up", new_user_registration_path,
              class: "btn btn-primary btn-lg" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="blogs">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Blogs</h1>
          <p class="intro-text">
            <%= link_to "Sign Up", new_user_registration_path,
              class: "btn btn-primary btn-lg" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
