<div class="panel panel-warning top-post">
  <div class="panel-heading">
    <h3 class="panel-title">Top Images</h3>
  </div>
  <div class="panel-body panel-top-posts">
    <div id="myCarousel" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          No Images Yet
        </div>
      </div>
    </div>
  </div>
</div>
